/* Style for the tracking section container */
.tracking {
    width: 80%;
    max-width: 800px;
    padding: 40px 40px;
    background-color: #ffffff;
    border: 2px solid; 
    border-image: linear-gradient(to right, #4A00E0, #8E2DE2) 1;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    margin: 40px auto;
    font-size: 18px;
}

/* Style for the input field */
.trackingInput {
    padding: 10px;
    width: 55%;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 20px;
    margin: 40px 10px;
}

/* Style for the tracking button */
.trackingBtn {
    padding: 10px 45px;
    background: linear-gradient(to right, #4A00E0, #8E2DE2);
    color: white;
    border-radius: 4px;
    font-size: 20px;
    text-decoration: none;
}

.trackingBtn:hover {
    opacity: 0.7;
}


.tracking h1 {
    color: #6200ee;
    margin-top: 0;
}

.trackingLabel{
  margin: 20px
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    .tracking {
        padding: 40px 20px;
        display: flex;
        justify-content: center; 
        align-items: center;     
        flex-direction: column;
    }

    .trackingLabel {
      margin: 0;
    }

    .trackingInput{
      margin: 20px 10px;
    }

    .tracking h1{
      margin-top: 0;
    }
}
