/* Basic Styles */
body, html #root {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #333;
  overflow-x: hidden;
  height: 100%;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;                  /* ocupa todo el espacio dentro de .wrapper */
  display: flex;            /* lo hacemos flex para que los hijos puedan expandirse */
  flex-direction: column;    /* para que el flujo siga vertical */
  padding-top: 70px;      /* igual a la altura del header */
}

.centered {
  flex: 1; /* ocupa todo el espacio disponible dentro del main */
  display: flex;
  justify-content: center; /* centra verticalmente */
  flex-direction: column; /* si quieres mantener dirección vertical */
}