/* Basic Styles */
body, html #root {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #333;
  overflow-x: hidden;
  height: 100%;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding-top: 40px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}